<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	 xmlns:theme="http://typo3.org/ns/KayStrobach/Themes/ViewHelpers">
	<f:section name="Default">
		<!-- theme_bootstrap4: Partials/Demo/Pages.html [begin] -->

		<div class="card">
			<div class="card-title">The following page uids are defined by TypoScript constants:</div>
			<div class="card-block">
				
				<table class="table table-striped" style="width: 100%">
					<thead>
					<tr>
						<th>identifier</th>
						<th>constant</th>
						<th>value</th>
						<th>preview</th>
					</tr>
					</thead>
					<tbody>
					<f:for each="{pages}" key="pageKey" as="pageConstant">
						<theme:variable.set name="pageUid" value="{theme:constant(constant: pageConstant)}" />
						<tr>
							<td><pre>{pageKey}</pre></td>
							<td><pre>{pageConstant}</pre></td>
							<td><pre>{pageUid}</pre></td>
							<td>
								<f:if condition="{pageUid}">
									<f:then>
										<f:link.page pageUid="{pageUid}" target="_blank" class="btn btn-success btn-sm">open</f:link.page>
									</f:then>
									<f:else>
										<button class="btn btn-danger btn-sm">undefined</button>
									</f:else>
								</f:if>
							</td>
						</tr>
					</f:for>
					</tbody>
				</table>
			</div>
		</div>

		<!-- theme_bootstrap4: Partials/Demo/Pages.html [end] -->
	</f:section>
</div>