<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	 xmlns:theme="http://typo3.org/ns/KayStrobach/Themes/ViewHelpers">
	<f:section name="Default">
		<!-- theme_bootstrap4: Partials/Demo/Typography.html [begin] -->
		
		<div class="card">
			<div class="card-title">Headline H1-H6:</div>
			<div class="card-block">
				<pre>H1 Headline:</pre>
				<h1>{headline}</h1>
		
				<hr />
				<pre>H2 Headline:</pre>
				<h2>{headline}</h2>
		
				<hr />
				<pre>H3 Headline:</pre>
				<h3>{headline}</h3>
		
				<hr />
				<pre>H4 Headline:</pre>
				<h4>{headline}</h4>
		
				<hr />
				<pre>H5 Headline:</pre>
				<h5>{headline}</h5>
		
				<hr />
				<pre>H6 Headline:</pre>
				<h6>{headline}</h6>
			</div>
		</div>
		
		<!-- theme_bootstrap4: Partials/Demo/Typography.html [end] -->
	</f:section>
</div>