{namespace theme=KayStrobach\Themes\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" 
	  data-namespace-typo3-fluid="true"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  v:schemaLocation="https://fluidtypo3.org/schemas/vhs-master.xsd">

<f:if condition="{theme:constant(constant:'extension.loaded.vhs')}">
	<v:media.image src="{f:uri.image(src: column.media.uid, treatIdAsReference: 1)}"
	               width="{column.dimensions.width}"
	               height="{column.dimensions.height}"
	               srcset="544,768,992,1200"
	               alt="{column.media.alternative}"
	               title="{column.media.title}"
	               class="img-fluid {f:if(condition: '{column.media.mimeType} == image/svg+xml', then: 'img-fluid-svg')}" />
</f:if>