<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	  xmlns:theme="http://typo3.org/ns/KayStrobach/Themes/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:comment> -- Use a background wrapper?! -- </f:comment>
<f:if condition="{themes.variants.css.background}">
	<f:format.printf arguments="{class: themes.variants.css.background}" value="<div class='%s'>" />
	<theme:variable.popVariant name="background" />
	<theme:variable.set name="closeBackground" value="1" />
</f:if>

<f:comment> -- Use a container wrapper?! -- </f:comment>
<f:if condition="{themes.behaviour.css.container}">
	<f:format.printf arguments="{class: themes.behaviour.css.container}" value="<div class='%s'>" />
	<theme:variable.popBehaviour name="container" />
	<theme:variable.set name="closeContainer" value="1" />
</f:if>

<f:comment> -- Use a image class?! -- </f:comment>
<f:if condition="{themes.variants.css.image}">
	<theme:variable.set name="imageClass" value="{class: themes.variants.css.image}" />
	<theme:variable.popVariant name="image" />
</f:if>

<div id="c{data.uid}" class="{themes.variants.cssClasses} {themes.behaviour.cssClasses} {themes.responsive.cssClasses}">
	<f:if condition="{gallery.position.noWrap} != 1">
		<f:render partial="Header" arguments="{_all}" />
	</f:if>
	<div class="ce-textpic ce-{gallery.position.horizontal} ce-{gallery.position.vertical}{f:if(condition: gallery.position.noWrap, then: ' ce-nowrap')}">
		<f:if condition="{gallery.position.vertical} != 'below'">
			<f:render partial="MediaGallery" arguments="{_all}" />
		</f:if>

		<div class="ce-bodytext">
			<f:if condition="{gallery.position.noWrap}">
				<f:render partial="Header" arguments="{_all}" />
			</f:if>
			<f:format.html>{data.bodytext}</f:format.html>
		</div>

		<f:if condition="{gallery.position.vertical} == 'below'">
			<f:render partial="MediaGallery" arguments="{_all}" />
		</f:if>
	</div>

	<f:render partial="Footer" arguments="{_all}" />
</div>

<f:if condition="{closeContainer}">
	<f:format.printf arguments="{0: ''}" value="</div>" />
</f:if>
<f:if condition="{closeBackground}">
	<f:format.printf arguments="{0: ''}" value="</div>" />
</f:if>

</html>