/*
	Fluid Styled Content CSS
	- alpha version (just what we need for the project)
*/
.ce-textpic {
	/* Media center */
	&.ce-center {
		/* Media center above */
		&.ce-above {
			.ce-media {
				text-align: center;
			}
		}
		/* Media center below */
		&.ce-below {
			.ce-media {
				text-align: center;
			}
		}
	}
	/* Media left */
	&.ce-left {
		/* Media left in text*/
		&.ce-intext {
			/* Media left in text nowrap */
			&.ce-nowrap {
				display: table;
				/* Medien */
				.ce-gallery {
					display: table-cell;
					vertical-align: top;
					padding-right: 30px;
				}
				/* text */
				.ce-bodytext {
					display: table-cell;
					vertical-align: top;
					> h1,
					> h2,
					> h3,
					> h4,
					> h5 {
						margin-top: 0;
					}
				}
			}
		}
	}

	/* gallery */
	.ce-gallery {
		/* Images 3 Columns */
		&[data-ce-columns="3"] {
			.ce-row {
				.make-row();
				.ce-column {
					.make-md-column(4);
					padding-bottom: 15px;
					img {
						&:extend(.img-responsive);
					}
				}
			}
		}
		/* Images 4 Columns */
		&[data-ce-columns="4"] {
			.ce-row {
				.make-row();
				.ce-column {
					.make-md-column(3);
					padding-bottom: 15px;
					img {
						&:extend(.img-responsive);
					}
				}
			}
		}
		/* Youtube Video*/
		.video-youtube {
			position: relative;
			.video-wrapper {
				background-color: #000000;
				width: 565px;
				height: 424px;
				float: right;
				> img {
					width: 565px;
					height: 424px;
				}
				iframe {
					width: 565px;
					height: 424px;
					border: 5px solid #ffffff;
				}
			}
			.video-button {
				position: absolute;
				top: 145px;
				right: 235px;
				background-color: #000000;
				border: 3px solid rgba(255, 255, 255, .3);
				height: 100px;
				width: 100px;
				border-radius: 50%;
				opacity: 0.88;
				padding: 25px 0 0 12px;
				span {
					width: 0;
					height: 0;
					transform: rotate(360deg);
					border-style: solid;
					border-width: 25px 0 25px 40px;
					border-color: transparent transparent transparent @brand-primary;
					font-size: 0;
					color: transparent;
					&::before {
						display: none;
					}
				}
			}
		}
	}

}