/* ToDo: Documentation here! */

/* General Style */
div,
p,
span {
  position: relative;
  /* Please, don't use transitions 
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;*/
}


/* ToDo: Info: jeder Style mit label muss hier definiert werden */


/* General Style */
.text-xs-left:hover,
.text-xs-center:hover,
.text-xs-right:hover,
.text-sm-left:hover,
.text-sm-center:hover,
.text-sm-right:hover,
.text-md-left:hover,
.text-md-center:hover,
.text-md-right:hover,
.text-lg-left:hover,
.text-lg-center:hover,
.text-lg-right:hover,
.text-xl-left:hover,
.text-xl-center:hover,
.text-xl-right:hover {
  border: 1px dashed dimgray;
}
.text-xs-left::before,
.text-xs-center::before,
.text-xs-right::before,
.text-sm-left::before,
.text-sm-center::before,
.text-sm-right::before,
.text-md-left::before,
.text-md-center::before,
.text-md-right::before,
.text-lg-left::before,
.text-lg-center::before,
.text-lg-right::before,
.text-xl-left::before,
.text-xl-center::before,
.text-xl-right::before {
  display: inline-block;
  content: '';
  background-color: #d3d3d3;
  color: #333333;
  padding: 6px;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: -1px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.text-xs-left:hover::before,
.text-xs-center:hover::before,
.text-xs-right:hover::before,
.text-sm-left:hover::before,
.text-sm-center:hover::before,
.text-sm-right:hover::before,
.text-md-left:hover::before,
.text-md-center:hover::before,
.text-md-right:hover::before,
.text-lg-left:hover::before,
.text-lg-center:hover::before,
.text-lg-right:hover::before,
.text-xl-left:hover::before,
.text-xl-center:hover::before,
.text-xl-right:hover::before {
  opacity: 1;
}

/* Label */
.text-xs-left::before {
  content: 'Left aligned text on all viewport sizes';
}
.text-xs-center::before {
  content: 'Center aligned text on all viewport sizes';
}
.text-xs-right::before {
  content: 'Right aligned text on all viewport sizes';
}
.text-sm-left::before {
  content: 'Left aligned text on viewports sized SM (small) or wider.';
}
.text-sm-center::before {
  content: 'Center aligned text on viewports sized SM (small) or wider.';
}
.text-sm-right::before {
  content: 'Right aligned text on viewports sized SM (small) or wider.';
}
.text-md-left::before {
  content: 'Left aligned text on viewports sized MD (medium) or wider.';
}
.text-md-center::before {
  content: 'Center aligned text on viewports sized MD (medium) or wider.';
}
.text-md-right::before {
  content: 'Right aligned text on viewports sized MD (medium) or wider.';
}
.text-lg-left::before {
  content: 'Left aligned text on viewports sized LG (large) or wider.';
}
.text-lg-center::before {
  content: 'Center aligned text on viewports sized LG (large) or wider.';
}
.text-lg-right::before {
  content: 'Right aligned text on viewports sized LG (large) or wider.';
}
.text-xl-left::before {
  content: 'Left aligned text on viewports sized XL (extra-large) or wider.';
}
.text-xl-center::before {
  content: 'Center aligned text on viewports sized XL (extra-large) or wider.';
}
.text-xl-right::before  {
  content: 'Right aligned text on viewports sized XL (extra-large) or wider.';
}
/* ToDo: Define alle combinations text alignedtext on viewports */