<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:layout name="Default" />
	<f:section name="Default">
		<!-- theme_bootstrap4: Templates/Theme/ContentSidebar.html [begin] -->

		<div id="templateContentSidebar">
			<div class="row">
				<div id="contentMain" class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
					<f:render partial="Content/Main" section="Default" arguments="{_all}" />
				</div>
				<aside id="contentSidebar" class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
					<f:render partial="Content/Sidebar" section="Default" arguments="{_all}" />
				</aside>
			</div>
		</div>

		<!-- theme_bootstrap4: Templates/Theme/ContentSidebar.html [end] -->
	</f:section>
</div>