<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:layout name="Default" />
	<f:section name="Default">
		<!-- theme_bootstrap4: Templates/Theme/MenuContentSidebar.html [begin] -->

		<div id="template-menu-content-sidebar">
			<div class="row">

				<!--
					Pay attention to the responsive behaviour!
					The menu column will slide to top and the sidebar to bottom
					when it switch into mobile view.  -->

				<div id="content-menu" class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
					<f:render partial="Area/Menu" section="Default" arguments="{_all}" />
				</div>
				<div id="content-main" class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
					<f:render partial="Area/Main" section="Default" arguments="{_all}" />
				</div>
				<aside id="content-sidebar" class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
					<f:render partial="Area/Sidebar" section="Default" arguments="{_all}" />
				</aside>
			</div>
		</div>

		<!-- theme_bootstrap4: Templates/Theme/MenuContentSidebar.html [end] -->
	</f:section>
</div>
