<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	  xmlns:theme="http://typo3.org/ns/KayStrobach/Themes/ViewHelpers">

<f:comment>
	<f:if condition="{themes.behaviour.css.container}">
		<f:then>
			<div id="c{data.uid}" class="{themes.variants.cssClasses} {themes.behaviour.cssClasses} {themes.responsive.cssClasses}">
				<div class="row">
					<f:render section="content" />
				</div>
			</div>
		</f:then>
		<f:else>
			<div id="c{data.uid}" class="{themes.variants.cssClasses} {themes.behaviour.cssClasses} {themes.responsive.cssClasses} row">
				<f:render section="content" />
			</div>
		</f:else>
	</f:if>
</f:comment>


	<f:comment> -- Use a background wrapper?! -- </f:comment>
	<f:if condition="{themes.variants.css.background}">
		<f:format.printf arguments="{class: themes.variants.css.background}" value="<div class='%s'>" />
		<theme:variable.popVariant name="background" />
		<theme:variable.set name="closeBackground" value="1" />
	</f:if>

	<f:comment> -- Use a container wrapper?! -- </f:comment>
	<f:if condition="{themes.behaviour.css.container}">
		<f:format.printf arguments="{class: themes.behaviour.css.container}" value="<div class='%s'>" />
		<theme:variable.popBehaviour name="container" />
		<theme:variable.set name="closeContainer" value="1" />
	</f:if>

	<div id="c{data.uid}" class="{themes.variants.cssClasses} {themes.behaviour.cssClasses} {themes.responsive.cssClasses}">
		<div class="row">
			<f:render section="content" />
		</div>
	</div>

	<f:if condition="{closeContainer}">
		<f:format.printf arguments="{0: ''}" value="</div>" />
	</f:if>
	
	<f:if condition="{closeBackground}">
		<f:format.printf arguments="{0: ''}" value="</div>" />
	</f:if>

</html>
