@if $footer-menu-divider != '' {
	#menu-footer {
		.nav .nav-item + .nav-item {
			display: flex;
			&::before {
				content: "#{$footer-menu-divider}";
				padding-top: $nav-link-padding-y;
				padding-bottom: $nav-link-padding-y;
			}
		}
	}
}
