<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{gallery.rows}">
	<div class="ce-gallery{f:if(condition: data.imageborder, then: ' ce-border')}" data-ce-columns="{gallery.count.columns}" data-ce-images="{gallery.count.files}">
		<f:for each="{gallery.rows}" as="row">
			<div class="ce-row">
				<f:for each="{row.columns}" as="column">
					<f:if condition="{column.media}">
						<div class="ce-column d-flex {f:if(condition: '{gallery.position.horizontal} == left', then: 'justify-content-start')} {f:if(condition: '{gallery.position.horizontal} == center', then: 'justify-content-center')} {f:if(condition: '{gallery.position.horizontal} == right', then: 'justify-content-end')}">
							<f:render partial="Media/Type" arguments="{file: column.media, dimensions: column.dimensions, data: data, settings: settings}" />
						</div>
					</f:if>
				</f:for>
			</div>
		</f:for>
	</div>
</f:if>
</html>