{namespace theme=KayStrobach\Themes\ViewHelpers}
<!-- theme_bootstrap4: Layouts/Special.html [begin] -->
<div id="layoutDefault">
	
	<f:render partial="Area/Top" section="Default" arguments="{_all}" />

	<f:render partial="Area/Header" section="Default" arguments="{_all}" />
	
	<div class="container">
		<section id="areaFeature">
			<f:cObject typoscriptObjectPath="lib.content.feature" />
		</section>

		<main id="areaMain">
			<div id="menu-breadcrumb">
				<span class="breadcrumb-label"><f:translate key="breadcrumb_label" /></span>
				<f:cObject typoscriptObjectPath="lib.menu.breadcrumb" />
			</div>
			<f:render section="Default" />
		</main>

		<section id="areaExtended">
			<f:cObject typoscriptObjectPath="lib.content.extended" />
		</section>
	</div>

	<f:render partial="Area/Footer" section="Default" arguments="{_all}" />
</div>
<!-- theme_bootstrap4: Layouts/Special.html [end] -->