{namespace theme=KayStrobach\Themes\ViewHelpers}
<!-- theme_bootstrap4: Layouts/Startsite.html [begin] -->
<a href="#area-main" class="sr-only sr-only-focusable">
	<f:translate key="skipNavigation_label" />
</a>
<div id="layout-startsite">

	<f:render partial="Area/Top" section="Default" arguments="{_all}" />
	<f:render partial="Area/Header" section="Default" arguments="{_all}" />

	<div class="container">
		<f:render partial="Area/Feature" section="Default" arguments="{_all}" />

		<main id="area-main" tabindex="-1">
			<f:render partial="Menu/Breadcrumb" section="Default" arguments="{_all}" />
			<f:render section="Default" />
		</main>

		<f:render partial="Area/Extended" section="Default" arguments="{_all}" />

	</div>

	<f:render partial="Area/Footer" section="Default" arguments="{_all}" />

</div>
<!-- theme_bootstrap4: Layouts/Startsite.html [end] -->