$useFontPrimaryFromCdn: '' !default;
$fontPrimaryCdnUrl: '' !default;
$fontPrimaryName: '' !default;
$fontPrimaryFallback: '' !default;
$fontPrimaryFilePath: '' !default;
$fontPrimaryFileEot: '' !default;
$fontPrimaryFileSvg: '' !default;
$fontPrimaryFileTtf: '' !default;
$fontPrimaryFileWoff: '' !default;
$fontPrimaryFileWoff2: '' !default;

$fontFamilyPrimary: $fontPrimaryName, $fontPrimaryFallback;
