// theme_bootstrap4

// Color
$brand-secondary: red !default;

// Base URLs
$baseurlImage: '/typo3conf/ext/theme_bootstrap4/Resources/Public/Images/' !default;
$baseurlIcon: '/typo3conf/ext/theme_bootstrap4/Resources/Public/Icons/' !default;

// Top
$top-menu-divider: ">" !default;

// Breadcrumbs
$breadcrumb-divider: ">" !default;

// Footer
$footer-menu-divider: "|" !default;

// Typography
$font-family-sans-serif: "#{map-get($font-map, sans-serif-name)}" #{map-get($font-map, sans-serif-fallback)};
$font-family-serif:      "#{map-get($font-map, serif-name)}" #{map-get($font-map, serif-fallback)};
$font-family-monospace:  "#{map-get($font-map, monospace-name)}" #{map-get($font-map, monospace-fallback)};;
$font-family-base:       $font-family-sans-serif;