/* Use CDN font primary */
@mixin font-include($family) {
	@if map-has-key($font-map, #{$family}-name) {
		@if map-get($font-map, #{$family}-use-font-from) == 'Webserver' {
			@font-face {
				font-family: "#{map-get($font-map, #{$family}-name)}" #{map-get($font-map, #{$family}-fallback)};
				//font-family: "#{map-get($font-map, #{$family}-name)}" , #{"," map-get($font-map, #{$family}-fallback)};
				src:url("#{map-get($font-map, #{$family}-file-path)}#{map-get($font-map, #{$family}-file-eot)}?#iefix");
				src:url("#{map-get($font-map, #{$family}-file-path)}#{map-get($font-map, #{$family}-file-eot)}?#iefix") format("eot"),url("#{map-get($font-map, #{$family}-file-path)}#{map-get($font-map, #{$family}-file-woff)}") format("woff"),url("#{map-get($font-map, #{$family}-file-path)}#{map-get($font-map, #{$family}-file-woff2)}") format("woff2"),url("#{map-get($font-map, #{$family}-file-path)}#{map-get($font-map, #{$family}-file-ttf)}") format("truetype"),url("#{map-get($font-map, #{$family}-file-path)}#{map-get($font-map, #{$family}-file-svg)}") format("svg");
			}
		}
	} @else {
		@warn "Error: mixin font-include fails trying to include #{$family}";
	}
}

// @ToDo: Check / Test local files
