<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">
		<!-- theme_bootstrap4: Partials/Elements/TopLink.html [begin] -->

		<li id="partial-elements-top-link">
			<a href="#top"><f:translate key="topLink_label" extensionName="theme_bootstrap4" /></a>
		</li>

		<!-- theme_bootstrap4: Partials/Elements/TopLink.html [end] -->
	</f:section>
	<f:section name="Special">
		<!-- theme_bootstrap4: Partials/Elements/TopLink.html, section: Special [begin] -->

		<div id="partial-elements-top-link" class="hidden-xl-down">
			<a class="img-thumbnail" href="#top" title="{f:translate(key: 'topLink_label', extensionName: 'theme_bootstrap4')}">
				<i class="fa fa-angle-up"></i>
			</a>
		</div>

		<!-- theme_bootstrap4: Partials/Elements/TopLink.html, section: Special [end] -->
	</f:section>
</div>
