<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">
		<!-- theme_bootstrap4: Partials/Menu/Action.html [begin] -->

		<div id="menu-action">
			<ul class="nav nav-inline">
				<f:render partial="Menu/Action/TopLink" section="Default" arguments="{_all}" />
				<f:render partial="Menu/Action/PrintLink" section="Default" arguments="{_all}" />
			</ul>
		</div>

		<!-- theme_bootstrap4: Partials/Menu/Action.html [end] -->
	</f:section>
</div>