/* Use CDN font secondary */
@mixin fontMixinCdn {
	@if $useFontSecondaryFromCdn == 1 {
		@import url($fontSecondaryCdnUrl);
	} @else {
		@font-face {
			font-family: $fontSecondaryName;
			src:url("${fontSecondaryFilePath}@{fontSecondaryFileEot}?#iefix");
			src:url("${fontSecondaryFilePath}@{fontSecondaryFileEot}?#iefix") format("eot"),url("${fontSecondaryFilePath}@{fontSecondaryFileWoff}") format("woff"),url("${fontSecondaryFilePath}@{fontSecondaryFileWoff2}") format("woff2"),url("${fontSecondaryFilePath}@{fontSecondaryFileTtf}") format("truetype"),url("${fontSecondaryFilePath}@{fontSecondaryFileSvg}") format("svg");
		}
	}
}

@include fontMixinCdn($useFontSecondaryFromCdn);
