{namespace theme=KayStrobach\Themes\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" 
	  data-namespace-typo3-fluid="true">
<f:if condition="{gallery.rows}">
	<div class="ce-gallery{f:if(condition: data.imageborder, then: ' ce-border')}"
	     data-ce-columns="{gallery.count.columns}" data-ce-images="{gallery.count.files}" data-ce-zoom="{data.image_zoom}">
		<f:if condition="{gallery.position.horizontal} == 'center'">
			<div class="ce-outer">
				<div class="ce-inner">
		</f:if>
		<f:for each="{gallery.rows}" as="row">
			<div class="ce-row">
				<f:for each="{row.columns}" as="column">
					<f:if condition="{column.media}">
						<div class="ce-column">
							<f:if condition="{column.media.description}">
								<f:then>
									<div class="ce-media">
										<figure class="figure">
								</f:then>
								<f:else>
									<div class="ce-media">
								</f:else>
							</f:if>

							<f:switch expression="{column.media.type}">
								<f:case value="3">
									<f:render section="audioType" arguments="{_all}" />
								</f:case>
								<f:case value="4">
									<f:render section="videoType" arguments="{_all}" />
								</f:case>
								<f:case default="TRUE">
									<f:render section="imageType" arguments="{_all}" />
								</f:case>
							 </f:switch>

							<f:if condition="{column.media.description}">
								<f:then>
											<figcaption class="figure-caption">
												{column.media.description}
											</figcaption>
										</figure>
									</div>
								</f:then>
								<f:else>
									</div>
								</f:else>
							</f:if>
						</div>
					</f:if>
				</f:for>
			</div>
		</f:for>
		<f:if condition="{gallery.position.horizontal} == 'center'">
				</div>
			</div>
		</f:if>
	</div>
</f:if>

<f:section name="imageType">
	<f:if condition="{column.media.link}">
		<f:then>
			<f:link.typolink parameter="{column.media.link}">
				<f:render section="media" arguments="{_all}" />
			</f:link.typolink>
		</f:then>
		<f:else>
			<f:if condition="{data.image_zoom}">
				<f:then>
					<ce:link.clickEnlarge image="{column.media}" configuration="{settings.media.popup}">
						<f:render section="media" arguments="{_all}" />
					</ce:link.clickEnlarge>
				</f:then>
				<f:else>
					<f:render section="media" arguments="{_all}" />
				</f:else>
			</f:if>
		</f:else>
	</f:if>
</f:section>

<f:section name="audioType">
	<f:render section="media" arguments="{_all}" />
</f:section>

<f:section name="videoType">
	<f:render section="media" arguments="{_all}" />
</f:section>

<f:section name="media">

	<f:if condition="{column.media.mimeType} == 'video/youtube'">
		<f:then>
			<script type="application/javascript">
				// Infos for Image Size: http://stackoverflow.com/questions/2068344/how-do-i-get-a-youtube-video-thumbnail-from-the-youtube-api
				// Required config variables
				var tcca = tcca || {};
				tcca[{data.uid}] = {};
				tcca[{data.uid}].uid = parseInt({data.uid}, 10);
				tcca[{data.uid}].content = '<f:format.raw>{f:media(file: column.media, width: column.dimensions.width, height: column.dimensions.height, alt: column.media.alternative, title: column.media.title)}</f:format.raw>';
				// Do initialize
				jQuery(document).ready(function() {
					initThemeContent{data.uid}(tcca[{data.uid}]);
				});
				// Initializer
				function initThemeContent{data.uid}(config) {
					// Preview image
					var imageUrl = config.content;
					imageUrl = imageUrl.replace('<iframe src="//www.youtube.com/embed/', '');
					imageUrl = imageUrl.split('?');
					imageUrl = '//img.youtube.com/vi/' + imageUrl[0] + '/sddefault.jpg';
					jQuery('#video-wrapper-' + config.uid).html('<img src="' + imageUrl + '">');
					// Loading button
					jQuery('#video-button-' + config.uid).click(function() {
						var content = config.content;
						content = content.replace(/\?/g, "\?autoplay=1&amp;");
						jQuery('#video-wrapper-' + config.uid).html(content);
						jQuery(this).hide();
					})
				};
			</script>
			<div class="video-youtube">
				<div id="video-wrapper-{data.uid}" class="video-wrapper"></div>
				<div id="video-button-{data.uid}" class="btn btn-default video-button" title="Load">
					<span>LADEN</span>
				</div>
			</div>
		</f:then>
		<f:else>
			<f:if condition="{column.media.description}">
				<f:then>
					<f:if condition="{theme:constant(constant: 'themes.configuration.extension.fluidStyledResponsiveImages.loaded')}">
						<f:then>
							<f:media
									file="{column.media}"
									width="{column.dimensions.width}"
									height="{column.dimensions.height}"
									alt="{column.media.alternative}"
									title="{column.media.title}"
									class="figure-img img-fluid
											{f:if(condition: '{column.media.mimeType} == \'image/svg+xml\'', then: 'img-fluid-svg')}
											{f:if(condition: '{theme:constant(constant: \'themes.configuration.image.lazyloading\')}', then: 'lazyload')}"
									additionalAttributes="{width:column.dimensions.width,height:column.dimensions.height}"
							/>
						</f:then>
						<f:else>
							<f:media
									file="{column.media}"
									width="{column.dimensions.width}"
									height="{column.dimensions.height}"
									alt="{column.media.alternative}"
									title="{column.media.title}"
									class="figure-img img-fluid
											{f:if(condition: '{column.media.mimeType} == \'image/svg+xml\'', then: 'img-fluid-svg')}
											{f:if(condition: '{theme:constant(constant: \'themes.configuration.image.lazyloading\')}', then: 'lazyload')}"
							/>
						</f:else>
					</f:if>
				</f:then>
				<f:else>
					<f:if condition="{theme:constant(constant: 'themes.configuration.extension.fluidStyledResponsiveImages.loaded')}">
						<f:then>
							<f:media
									file="{column.media}"
									width="{column.dimensions.width}"
									height="{column.dimensions.height}"
									alt="{column.media.alternative}"
									title="{column.media.title}"
									class="img-fluid
											{f:if(condition: '{column.media.mimeType} == \'image/svg+xml\'', then: 'img-fluid-svg')}
											{f:if(condition: '{theme:constant(constant: \'themes.configuration.image.lazyloading\')}', then: 'lazyload')}"
									additionalAttributes="{width:column.dimensions.width,height:column.dimensions.height}"
							/>
						</f:then>
						<f:else>
							<f:media
									file="{column.media}"
									width="{column.dimensions.width}"
									height="{column.dimensions.height}"
									alt="{column.media.alternative}"
									title="{column.media.title}"
									class="img-fluid
											{f:if(condition: '{column.media.mimeType} == \'image/svg+xml\'', then: 'img-fluid-svg')}
											{f:if(condition: '{theme:constant(constant: \'themes.configuration.image.lazyloading\')}', then: 'lazyload')}"
							/>
						</f:else>
					</f:if>
				</f:else>
			</f:if>
		</f:else>
	</f:if>

</f:section>

</html>
