<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>indexed_search template</title>
</head>

<body>

<h1>Indexed Search: Default template</h1>


<h2>TEMPLATE_SEARCH_FORM</h2>
<p><em>Template for displaying the search form.</em></p>

<!-- ###SEARCH_FORM### begin -->
<div class="tx-indexedsearch-searchbox">
	<form action="###ACTION_URL###" method="post" id="tx_indexedsearch" class="form-horizontal" role="form">
		<input type="hidden" name="tx_indexedsearch[_sections]" value="0" />
		<input type="hidden" name="tx_indexedsearch[_freeIndexUid]" id="tx_indexedsearch_freeIndexUid" value="_" />
		<input type="hidden" name="tx_indexedsearch[pointer]" id="tx_indexedsearch_pointer" value="0" />

		<input type="hidden" name="tx_indexedsearch[group]" value="flat" />


		<!-- ###HIDDEN_FIELDS### begin -->
		<input type="hidden" name="###HIDDEN_FIELDNAME###" value="###HIDDEN_VALUE###" />
		<!-- ###HIDDEN_FIELDS### end -->



		<div class="form-group">
			<label for="searchbox" class="col-sm-2 control-label">###FORM_SEARCHFOR###</label>
			<div class="col-sm-3">

				<div class="input-group">
					<input type="text" class="form-control" name="tx_indexedsearch[sword]" value="###SWORD_VALUE###" class="tx-indexedsearch-searchbox-sword sword form-control" id="searchbox"  placeholder="###FORM_SUBMIT###" />
					<span class="input-group-btn">
						<button type="submit" class="btn btn-primary" name="tx_indexedsearch[submit_button]">###FORM_SUBMIT###</button>
					</span>
				</div>
				
				
			</div>
		</div>


		<!-- ###ADDITONAL_KEYWORD### begin -->

		<input type="hidden" name="tx_indexedsearch[sword_prev]" value="###SWORD_PREV_VALUE###" />
		<input type="checkbox" name="tx_indexedsearch[sword_prev_include]" id="tx_indexedsearch_sword_prev_include" value="1" ###SWORD_PREV_INCLUDE_CHECKED### />
		<label for="tx_indexedsearch_sword_prev_include">###ADD_TO_CURRENT_SEARCH###</label>.

		<!-- ###ADDITONAL_KEYWORD### end -->

	</form>
</div>
<!-- ###SEARCH_FORM### end -->
<br /><br />




<h2>TEMPLATE_RULES</h2>
<p><em>Template for displaying the search rules.</em></p>

<!-- ###RULES### begin -->
<div  class="bs-callout bs-callout-info">
	<h4>###RULES_HEADER###</h4>
	<small>###RULES_TEXT###</small>
</div>
<!-- ###RULES### end -->
<br /><br />




<h2>TEMPLATE_RESULT_SECTION_LINKS</h2>
<p><em>Template for the section links in section mode.</em></p>

<!-- ###RESULT_SECTION_LINKS### begin -->
<div class="tx-indexedsearch-sec">
	<ul class="list-unstyled">
		###LINKS###
	</ul>




</div>
<!-- ###RESULT_SECTION_LINKS### end -->

<!-- ###RESULT_SECTION_LINKS_LINK### begin -->
<li>--&gt; ###LINK###</li>

<!-- ###RESULT_SECTION_LINKS_LINK### end -->
<br /><br />




<h2>TEMPLATE_SECTION_HEADER</h2>
<p><em>Template for the section title in section mode.</em></p>
<!-- ###SECTION_HEADER### begin -->
<div class="tx-indexedsearch-secHead panel panel-default"><a name="###ANCHOR_URL###"></a>
	<div class="panel-heading">
		<h3 class="panel-title">###SECTION_TITLE### <small>###RESULT_COUNT### ###RESULT_NAME###</small></h3>
	</div>
</div>
<!-- ###SECTION_HEADER### end -->
<br /><br />




<h2>TEMPLATE_RESULT_OUTPUT</h2>
<p><em>Template for the search result list.</em></p>

<!-- ###RESULT_OUTPUT### begin -->
<div class="tx-indexedsearch-res" style="margin-bottom:20px;">
	<ul class="list-group">

		<!-- ###HEADER_ROW### begin -->
		<li class="list-group-item"> ###ICON### ###RESULT_NUMBER### ###TITLE### <span class="badge">###RATING###</span>
		<!-- ###HEADER_ROW### end -->
	
		<!-- ###ROW_LONG### begin -->
		<p style="padding:0 20px;" class="description">###DESCRIPTION###</p>
	
		<p style="margin:0 20px; padding:5px 10px; background:#F5F5F5" class="info"><!--###TEXT_ITEM_SIZE### ###SIZE### - ###TEXT_ITEM_CRDATE### ###CREATED### - ###TEXT_ITEM_MTIME### ###MODIFIED###--> ###TEXT_ITEM_PATH### <span class="tx-indexedsearch-path path">###PATH###</span></p>
		</li>
		<!-- ###ROW_LONG### end -->

		<!-- ###ROW_SHORT### begin -->
		###DESCRIPTION###
		<!-- ###ROW_SHORT### end -->

		<!-- ###ROW_SUB### begin -->
		###TEXT_ROW_SUB###<br /><br />
		<!-- ###ROW_SUB### end -->

	</ul>
</div>
<!-- ###RESULT_OUTPUT### end -->
<br /><br />


</body>
</html>
