.headline-left > header {
	> h1,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6 {
		text-align: left;
	}
}
.headline-center > header {
	> h1,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6 {
		text-align: center;
	}
}
.headline-right > header {
	> h1,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6 {
		text-align: right;
	}
}