<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	 xmlns:theme="http://typo3.org/ns/KayStrobach/Themes/ViewHelpers">
	<f:section name="Default">
		<!-- theme_bootstrap4: Partials/Demo/Configuration/Colors.html [begin] -->

		<div class="card">
			<div class="card-title">Color scheme:</div>
			<div class="card-block">
				
				<table class="table table-striped" style="width: 100%">
					<thead>
					<tr>
						<th>identifier</th>
						<th>constant</th>
						<th>value</th>
						<th>preview</th>
					</tr>
					</thead>
					<tbody>
					<f:for each="{colors}" key="colorKey" as="colorConstant">
						<theme:variable.set name="colorValue" value="{theme:constant(constant: colorConstant)}" />
						<tr>
							<td><pre>{colorKey}</pre></td>
							<td><pre>{colorConstant}</pre></td>
							<td><pre>{colorValue}</pre></td>
							<td><button style="background-color: {colorValue}" class="btn btn-sm">preview</button></td>
						</tr>
					</f:for>
					</tbody>
				</table>
			</div>
		</div>

		<!-- theme_bootstrap4: Partials/Demo/Configuration/Colors.html [end] -->
	</f:section>
</div>