<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	 xmlns:theme="http://typo3.org/ns/KayStrobach/Themes/ViewHelpers">
	<f:section name="Default">
		<!-- theme_bootstrap4: Partials/Area/Footer.html [begin] -->

		<footer id="areaFooter">
			<!--
			@todo class container // optionally fluid-container!!
			--> 
			<div class="container">
				<div class="row">

					<div class="menu-special-wrapper col-lg-12">
						<f:cObject typoscriptObjectPath="lib.menu.special" />
					</div>

					<div class="col-lg-6">
						<div id="footerLogo">
							<f:cObject typoscriptObjectPath="lib.footer.logo.main" />
						</div>
					</div>

					<div class="col-lg-6">
						<div class="menu-footer-wrapper">
							<f:cObject typoscriptObjectPath="lib.menu.footer" />
						</div>
					</div>




					<div class="socialmedia-list-wrapper col-lg-12">
						<f:render partial="Socialmedia/List" section="Default" />
					</div>

					<div class="footer-line-wrapper col-lg-12">
						<ul class="footer-line list-inline">
							<li class="copyright list-inline-item">
								<f:cObject typoscriptObjectPath="lib.footer.copyright" />
							</li>
							<li class="email list-inline-item">
								<span>
									<f:link.email email="{theme:constant(constant: 'themes.configuration.footer.email')}">{theme:constant(constant: 'themes.configuration.footer.email')}</f:link.email>
								</span>
							</li>
							<li class="address list-inline-item">
								<span><f:format.htmlentitiesDecode>{theme:constant(constant: 'themes.configuration.footer.address')}</f:format.htmlentitiesDecode></span>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</footer>

		<!-- theme_bootstrap4: Partials/Area/Footer.html [end] -->
	</f:section>
</div>