<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	 xmlns:theme="http://typo3.org/ns/KayStrobach/Themes/ViewHelpers">
	<f:section name="Default">
		<!-- theme_bootstrap4: Partials/Area/Header.html [begin] -->

		<header id="area-header">
			<nav id="menu-main" class="navbar navbar-dark bg-inverse navbar-fixed-top">
				<div class="container">
					<div id="header-logo-main" class="navbar-brand">
						<f:cObject typoscriptObjectPath="lib.header.logo.main" />
					</div>
					<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-main">
						&#9776;
					</button>
					<div id="navbar-main" class="collapse navbar-toggleable-xs">
						<f:cObject typoscriptObjectPath="lib.menu.main" />
					</div>
				</div>
			</nav>
		</header>

		<!-- theme_bootstrap4: Partials/Area/Header.html [end] -->
	</f:section>
</div>