<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	 xmlns:theme="http://typo3.org/ns/KayStrobach/Themes/ViewHelpers">
	<f:section name="Default">
		<!-- theme_bootstrap4: Partials/Area/Header.html [begin] -->

		<header id="area-header">
			<nav id="menu-main" class="navbar navbar-expand-md navbar-dark bg-dark">
				<div class="container">
					<div id="header-logo-main" class="navbar-brand">
						<f:cObject typoscriptObjectPath="lib.header.logo.main" />
					</div>
					<button class="navbar-toggler" type="button"
							data-toggle="collapse" data-target="#navbar-main"
							aria-controls="navbar-main" aria-expanded="false"
							aria-label="{f:translate(key: 'toggleNavigation_label')}">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div id="navbar-main" class="collapse navbar-collapse">
						<f:cObject typoscriptObjectPath="lib.menu.main" />
					</div>
				</div>
			</nav>
		</header>

		<!-- theme_bootstrap4: Partials/Area/Header.html [end] -->
	</f:section>
</div>
