<f:if condition="{settings.displayRules}">

	<f:comment>
	<div class="tx-indexedsearch-rules alert alert-info">
		<h5><f:translate key="rules.headline" extensionName="indexed_search" /></h5>
		<p><f:format.raw><f:translate key="rules.text" extensionName="indexed_search" /></f:format.raw></p>
	</div></f:comment>

	<div class="tx-indexedsearch-rules collapse" id="indexed-search-rules-collapse">
		<div class="card card-block alert alert-info">
			<p><small><f:format.raw><f:translate key="rules.text" extensionName="indexed_search" /></f:format.raw></small></p>
		</div>
	</div>

</f:if>
