<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	 xmlns:theme="http://typo3.org/ns/KayStrobach/Themes/ViewHelper">
	<f:section name="Default">
		<!-- theme_bootstrap4: Partials/Socialmedia/FollowFacebook.html [begin] -->

		<f:if condition="{theme:constant(constant:'themes.configuration.socialmedia.useFacebook')}">
			<li class="partial-socialmedia-followFacebook list-inline-item">
				<a href="{theme:constant(constant:'themes.configuration.socialmedia.facebookLink')}"
				   target="_blank" title="Facebook"
				   class="fa fa-facebook"></a>
			</li>
		</f:if>

		<!-- theme_bootstrap4: Partials/Socialmedia/FollowFacebook.html [end] -->
	</f:section>
</div>
