{namespace theme=KayStrobach\Themes\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">
		<!-- theme_bootstrap4: Partials/Socialmedia/FollowTwitter.html [begin] -->
		
		<f:if condition="{theme:constant(constant:'themes.configuration.socialmedia.useTwitter')}">
			<li class="partial-socialmedia-followTwitter theme_bootstrap4">
				<a href="https://twitter.com/intent/user?screen_name={theme:constant(constant:'themes.configuration.socialmedia.twitterUsername')}"
				   target="_blank" title="Twitter"
				   class="fa fa-twitter"></a>
			</li>
		</f:if>

		<!-- theme_bootstrap4: Partials/Socialmedia/FollowTwitter.html [end] -->
	</f:section>
</div>
