{namespace theme=KayStrobach\Themes\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">
		<!-- theme_bootstrap4: Partials/Socialmedia/FollowYoutube.html [begin] -->
		
		<f:if condition="{theme:constant(constant:'themes.configuration.socialmedia.useYoutube')}">
			<li class="partial-socialmedia-followYoutube theme_bootstrap4">
				<a href="{theme:constant(constant:'themes.configuration.socialmedia.youtubeLink')}"
				   target="_blank" title="Youtube"
				   class="fa fa-youtube"></a>
			</li>
		</f:if>

		<!-- theme_bootstrap4: Partials/Socialmedia/FollowYoutube.html [end] -->
	</f:section>
</div>
