<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">
		<!-- theme_bootstrap4: Partials/Socialmedia/Linkedin.html [begin] -->
		
		<f:if condition="{settings.socialmedia.linkedIn.active}">
			<li class="partial-socialmedia-linkedin list-inline-item">
				<a href="{settings.socialmedia.linkedIn.link}" target="_blank"
				   title="{settings.socialmedia.linkedIn.title}" 
				   class="{settings.socialmedia.linkedIn.cssClass}"></a>
			</li>
		</f:if>

		<!-- theme_bootstrap4: Partials/Socialmedia/Linkedin.html [end] -->
	</f:section>
</div>
