
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">
		<!-- theme_bootstrap4: Partials/Socialmedia/List.html [begin] -->
		
		<div class="partial-socialmedia-list theme_bootstrap4">
			<ul class="list-inline socialmedia-list">
				<f:render partial="Socialmedia/FollowTwitter" section="Default" />
				<f:render partial="Socialmedia/FollowFacebook" section="Default" />
				<f:render partial="Socialmedia/FollowGooglePlus" section="Default" />
				<f:render partial="Socialmedia/FollowRss" section="Default" />
				<f:render partial="Socialmedia/FollowXing" section="Default" />
				<f:render partial="Socialmedia/FollowYoutube" section="Default" />
			</ul>
		</div>
		
		<!-- theme_bootstrap4: Partials/Socialmedia/List.html [end] -->
	</f:section>
</div> 