<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">
		<!-- theme_bootstrap4: Partials/Socialmedia/List.html [begin] -->
		
		<div class="partial-socialmedia-list">
			<ul class="list-inline socialmedia-list">
				<f:render partial="Socialmedia/Twitter" section="Default"  />
				<f:render partial="Socialmedia/Facebook" section="Default" />
				<f:render partial="Socialmedia/GooglePlus" section="Default" />
				<f:render partial="Socialmedia/Rss" section="Default" />
				<f:render partial="Socialmedia/Xing" section="Default" />
				<f:render partial="Socialmedia/Youtube" section="Default" />
				<f:render partial="Socialmedia/LinkedIn" section="Default" />
				<f:render partial="Socialmedia/Instagram" section="Default" />
				<f:render partial="Socialmedia/Bitbucket" section="Default" />
				<f:render partial="Socialmedia/Github" section="Default" />
				<f:render partial="Socialmedia/TYPO3" section="Default" />
			</ul>
		</div>
		
		<!-- theme_bootstrap4: Partials/Socialmedia/List.html [end] -->
	</f:section>
</div> 