<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">
		<!-- theme_bootstrap4: Partials/Socialmedia/TYPO3.html [begin] -->
		
		<f:if condition="{settings.socialmedia.typo3.active}">
			<li class="partial-socialmedia-typo3 list-inline-item">
				<a href="{settings.socialmedia.typo3.link}" target="_blank" 
				   title="{settings.socialmedia.typo3.title}" 
				   class="{settings.socialmedia.typo3.cssClass}"></a>
			</li>
		</f:if>

		<!-- theme_bootstrap4: Partials/Socialmedia/TYPO3.html [end] -->
	</f:section>
</div>
