<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">
		<!-- theme_bootstrap4: Partials/Socialmedia/Youtube.html [begin] -->
		
		<f:if condition="{settings.socialmedia.youtube.active}">
			<li class="partial-socialmedia-youtube list-inline-item">
				<a href="{settings.socialmedia.youtube.link}" target="_blank" 
				   title="{settings.socialmedia.youtube.title}" 
				   class="{settings.socialmedia.youtube.cssClass}"></a>
			</li>
		</f:if>

		<!-- theme_bootstrap4: Partials/Socialmedia/Youtube.html [end] -->
	</f:section>
</div>
