<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<f:switch expression="{data.layout}">
		<f:case value="Custom">

			<!-- Another layout -->

		</f:case>
		<f:defaultCase>
			<div id="c{data.uid}" class="content-icon content-icon-default icon-{data.tx_themes_icon}"
			     data-content="icon" data-layout="default" data-icon="{data.tx_themes_icon}">
				<div class="content-icon-label">
					<f:link.typolink parameter="{data.header_link}">{data.header}</f:link.typolink>
				</div>
				<div class="content-icon-placeholder"></div>
			</div>
		</f:defaultCase>
	</f:switch>

</html>
