<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:theme="http://typo3.org/ns/KayStrobach/Themes/ViewHelpers">
<f:layout name="Content/Button" />
<f:section name="content">

	<f:for each="{themes.buttons}" as="button" iteration="buttonIterator">
		<theme:variable.set name="icon" value="" />
		<f:if condition="{button.icon}">
			<theme:variable.set name="icon"><i class="{button.icon}"></i> </theme:variable.set>
		</f:if>
		<f:if condition="{buttonIterator.isFirst}">
			<f:then>
				<f:link.typolink parameter="{button.link}"
								 class="{buttonColor} {buttonSize} {button.linkParameter.class}"
								 additionalAttributes="{role: 'button'}">
					<f:format.raw>{icon}</f:format.raw>{button.text}
				</f:link.typolink>
			</f:then>
		</f:if>
	</f:for>

</f:section>
</html>