<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:theme="http://typo3.org/ns/KayStrobach/Themes/ViewHelpers">

<f:comment> -- Use a background wrapper?! -- </f:comment>
<f:if condition="{themes.variants.css.background}">
	<f:format.raw value="<div class=\"{themes.variants.css.background}\">" />
	<theme:variable.popVariant name="background" />
	<theme:variable.set name="closeBackground" value="1" />
</f:if>

<f:comment> -- Use a container wrapper?! -- </f:comment>
<f:if condition="{themes.behaviour.css.container}">
	<f:format.raw value="<div class=\"{themes.behaviour.css.container}\">" />
	<theme:variable.popBehaviour name="container" />
	<theme:variable.set name="closeContainer" value="1" />
</f:if>

<f:comment> -- Moving tab navigation variable -- </f:comment>
<theme:variable.set name="navigationType" value="{themes.variants.key2css.tabs-navigation}" />
<theme:variable.popVariant name="tabs-navigation" />

<f:comment> -- Fade between tabs? -- </f:comment>
<theme:variable.set name="fadeIn" value="" />
<f:if condition="{themes.behaviour.key2css.fade-in}">
	<theme:variable.set name="fadeIn" value="{themes.behaviour.key2css.fade-in}" />
	<theme:variable.popBehaviour name="fade-in" />
</f:if>

<f:comment> -- Tabs in card? -- </f:comment>
<theme:variable.set name="tabsInCard" value="0" />
<theme:variable.set name="classCard" value="" />
<theme:variable.set name="classCardBlock" value="" />
<theme:variable.set name="classCardHeaderTabs" value="" />
<f:if condition="{themes.variants.key2css.tabs-in-card}">
	<theme:variable.set name="tabsInCard" value="1" />
	<theme:variable.set name="classCard" value="card" />
	<theme:variable.set name="classCardBlock" value="card-block" />
	<theme:variable.set name="classCardHeaderTabs" value="card-header-{navigationType}" />
	<theme:variable.popVariant name="tabs-in-card" />
</f:if>


<div id="c{data.uid}" class="tabs {themes.variants.cssClasses} {themes.behaviour.cssClasses} {themes.responsive.cssClasses} {classCard}" role="tabpanel">

	<f:if condition="{f:count(subject: data.tx_gridelements_view_children)} > 0">
		<f:then>
			<!--
			@todo: aria attribute?!
			-->
			<f:render partial="Elements/Tabs/Header.html" arguments="{_all}" />
			<f:render partial="Elements/Tabs/Content.html" arguments="{_all}" />
		</f:then>
		<f:else>
			<div class="alert alert-danger" role="alert">
				<!--
				@todo: translation value
				-->
				Please add at least one tab content!
				<f:translate key="tabs_empty_label" extensionName="theme_bootstrap4" />
			</div>
		</f:else>
	</f:if>

</div>

<f:if condition="{closeContainer}">
	<f:format.raw value="</div>" />
</f:if>
<f:if condition="{closeBackground}">
	<f:format.raw value="</div>" />
</f:if>

</html>
